/* NOTE: Remove all unnecessary css once code is deployed */
.header {
    text-align: center;
}

.slider-container {
    position: relative;
}

.slider {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider picture {
    display: block;
    min-width: 100%;
    max-height: 650px;
    object-fit: cover;
    scroll-snap-align: center;
}

.slider img {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
}

.btn {
    background-color: #aaaaaae8;
    font-size: clamp(15px, 2rem, 30px);
    padding: 12px 20px;
    border-radius: 100%;
    cursor: pointer;
}

.btn-prev {
    position: absolute;
    left: 1%;
    top: 40%;
}

.btn-next {
    position: absolute;
    right: 1%;
    top: 40%;
}

.sliders {
    display: flex;
}
